@{
    ViewBag.Title = "附件信息表";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="lr-layout lr-layout-center" id="lr_layout">

    <div class="lr-layout-center">
        <div class="lr-layout-wrap" style="padding-top:20px">
            <div class="col-xs-4 jfine-form-header_c">
                <span class="jfine-form-header-title">青岛智能低碳区域能源系统改扩建项目</span>
            </div>

            <div class="col-xs-12  lr-form-item-grid">
                <ul class="nav nav-tabs"></ul>
                <div class="tab-content">
                </div>
            </div>

        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/Wizsen_NE_Project/Views/AdjunctDatails/Browse.js")
