
@{
    ViewBag.Title = "合同查看";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@Html.AppendCssFile("/Areas/Wizsen_NE_Project/Views/PactPurchase/Detail.css")
<script src="~/Content/bootstrap/bootstrap.min.js"></script>
<div class="lr-layout">

    <div class="lr-layout-wrap lr-form-wrap" style="padding-top:20px;">
        <div class="col-xs-4 jfine-form-header_l">
            <span class="jfine-form-logo">
                <img src="/Content/images/formlogo.png" height="50"  style="padding-left: 50px;padding-bottom: 3px;"/>
            </span>
        </div>
        <div class="col-xs-4 jfine-form-header_c">
            <span class="jfine-form-header-title">采购合同信息</span>
        </div>
        <div class="col-xs-4 jfine-form-header_r">
		     <a id="close" class="btn btn-default">关闭</a>
        </div>
        <div class="col-xs-3 lr-form-item">
            <div class="lr-form-item-detail-title">合同编码</div>
            <div id="Code" class="lr-form-item-value"></div>
        </div>
        <div class="col-xs-3 lr-form-item">
            <div class="lr-form-item-detail-title">合同名称</div>
            <div id="Name" class="lr-form-item-value"></div>
        </div>
        <div class="col-xs-3 lr-form-item">
            <div class="lr-form-item-detail-title">合同类型</div>
            <div id="Type" class="lr-form-item-value"></div>
        </div>
        <div class="col-xs-3 lr-form-item">
            <div class="lr-form-item-detail-title">合同状态</div>
            <div id="State" class="lr-form-item-value"></div>
        </div>

        <div class="col-xs-3 lr-form-item">
            <div class="lr-form-item-detail-title">设备包</div>
            <div id="Package" class="lr-form-item-value"></div>
        </div>
        <div class="col-xs-3 lr-form-item">
            <div class="lr-form-item-detail-title">供应商</div>
            <div id="Supplier" class="lr-form-item-value"></div>
        </div>
        <div class="col-xs-3 lr-form-item">
            <div class="lr-form-item-detail-title">采购组织</div>
            <div id="Organiz" class="lr-form-item-value"></div>
        </div>
        <div class="col-xs-3 lr-form-item">
            <div class="lr-form-item-detail-title">部门</div>
            <div id="Department" class="lr-form-item-value"></div>
        </div>

        <div class="col-xs-6 lr-form-item">
            <div class="lr-form-item-detail-title">人员</div>
            <div id="Personnel" class="lr-form-item-value"></div>
        </div>
        <div class="col-xs-6 lr-form-item">
            <div class="lr-form-item-detail-title">合同金额</div>
            <div id="Amount" class="lr-form-item-value"></div>
        </div>
        <div class="col-xs-6 lr-form-item">
            <div class="lr-form-item-detail-title">币种</div>
            <div id="Currency" class="lr-form-item-value"></div>
        </div>
        <div class="col-xs-6 lr-form-item">
            <div class="lr-form-item-detail-title">合同签订日期</div>
            <div id="SigningDate" class="lr-form-item-value"></div>
        </div>
        <div class="col-xs-12 lr-form-item">
            <div class="lr-form-item-detail-title">计划终止日期</div>
            <div id="EndTime" class="lr-form-item-value"></div>
        </div>
        <div class="col-xs-12 lr-form-item lr-form-item-grid">

            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#tab_linkman" data-toggle="tab">亚行设备</a></li>
                <li role="presentation"><a href="#tab_file" data-toggle="tab">采购合同附件</a></li>
                <li role="presentation"><a href="#tab_file2" data-toggle="tab">付款明细</a></li>
            </ul>
            <div class="tab-content">
                <!-- 1 -->
                <div class="tab-pane fade in active" id="tab_linkman">
                    <div id="productgird"></div>
                </div>

                <!-- 2 -->
                <div class="tab-pane fade" id="tab_file">
                    <div id="productgird2"></div>
                </div>

                <!-- 3 -->
                <div class="tab-pane fade" id="tab_file2">
                    <div id="productgird3"></div>
                </div>
            </div>
        </div>
    </div>

</div>

@Html.AppendJsFile("/Areas/Wizsen_NE_Project/Views/PactPurchase/Detail.js")

